:root {
    --primary-color: #065366;
    --secondary-color: #FFFEF7;
    --tertiary-color: #E3F1F7;
    --highlight-color: #FFFEF7;
    --link-color: #FFFEF7;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
    background-color: #FFFFFF;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
}

body {
    line-height: 1.45;
    margin: 0 auto;
    max-width: 1000px;
    background-color: var(--secondary-color);
}

.header {
    background: var(--primary-color);
    padding: 1rem;
}

.profile-photo {
    border-radius: 50%;
    width: 150px;
    margin-left: 20%;
    transform: translateY(-50%);
    background-color: var(--link-color);
}

.row-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.name {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--secondary-color);
    text-align: left;
    margin-left: 40%;
}

.profession {
    font-size: 1.25rem;
    color: var(--secondary-color);
    text-align: left;
    margin-left: 40%;
}

.left-column-flex-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    width: 35%;
    height: 100%;
    background-color: var(--tertiary-color);
    padding: 0 0.5rem 0 1rem;
}

.right-column-flex-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    width: 65%;
    padding: 0 10px 0 1rem;
    background-color: var(--secondary-color);
}

.title {
    color: var(--primary-color);
    font-weight: 600;
    margin: 1.1rem 0;
    font-variant: small-caps;
}

.introduction {
    text-align: left;
    margin: 1rem 0 0 0;
    text-align: left;
    width: 100%;
}

.translated-container {
    transform: translateY(-60px);
}

.light-divider {
    border: none;
    border-top: 3px solid var(--highlight-color);
    color: var(--primary-color);
    overflow: visible;
    width: 75%;
    margin: 1rem auto;
}

.job {
    font-size: 1rem;
    font-weight: 600;
    width: 450px;
    text-align: left;
    list-style: none;
    padding-bottom: 0.5rem;

}

.job-detail {
    font-size: 1rem;
    font-weight: normal;
}

.job-period {
    font-size: 0.9rem;
    column-width: 80px;
    text-align: right;
}

.left-border {
    border-left: solid 2px var(--primary-color);
    margin-left: 1.5rem;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.exponent {
    vertical-align: super;
    line-height: normal;
}

.leisure-container {
    display: grid;
    grid: auto-flow / 50% 50%;
    column-gap: 0.5rem;
    text-align: left;
    width: 100%;
    padding-left: 2.25rem;
}

.soft-skill-container {
    display: grid;
    grid: auto-flow / 1fr 1fr;
    column-gap: 0.5rem;
    text-align: left;
}

.title-logo {
    width: 24px;
    height: 24px;
    padding-right: 5px;
}

.icon {
    padding-right: 5px;
}

.simplon {
    color: var(--primary-color);
    font-weight: 900;
}

ul {
    list-style-type: circle;
    padding-left: 20px;
}

li {
    margin-bottom: 0.5rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}